
.fluid-xb-iframe-box {
    width: 400px;
    height: 530px;
    border: none;
}
.fluid-xb-bg {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.643975);
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.fluid-xb-box {
    width: 400px;
    height: 530px;
    margin: 100px auto;
    border-radius: 10px;
    background: #F8F8F8;
    overflow: hidden;
}
.fluid-xb-close {
    width: 12px;
    height: 12px;
    float: right;
    margin: 8px;
}
